<div class="row mt-4">
    <div class="col-md-12">
        <h1 class="display-6">Add Course</h1><hr>
        <form>
            <div class="form-group">
                <label for="name">Course Name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="amount">Course Amount</label>
                <input type="number" name="amount" id="amount" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
</div>